p {
    color: none;
}

.btn_chan {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 0px;
    width: 100%;
}

.chanButton p {
    font-family: futura;
    font-weight:900;
    font-size: max(15px, 1.8vw);
}

.chanButton {
    cursor: pointer;
    margin: 0;
    box-sizing: border-box;
    padding: 0.2px;
    position: relative;
    border: 1px solid #383E42;
    border-left: 0;
    border-right: 0;
    overflow-wrap: normal;

    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    font-family: futura;
    font-weight: 900;
    font-size: 1.6vmax;
    padding: 0.2vmax;
    padding-left: 0.4vmax;
}

.chanButton:hover {
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #fff12c;
    color: black;
}

.btn_chan img {
    height: 1.56vmax;
    width: 1.56vmax;
}

.on {
    color: #fff12c;
}

.off{
    color: white;
}
