hr {
    height: 1px;
}

.menu {
    display: block;
   position: relative; 
}

.btn_chan {
    display: grid;
    grid-template-columns: minmax(min-content, auto) minmax(min-content, max-content); 
}

.btn_chan p:hover {
    color: #fff12c;
    cursor: pointer;    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
}

.logo_connection {
    display: grid;
    grid-template-columns: minmax(min-content, auto) minmax(min-content, max-content);
    grid-template-rows: minmax(min-content, max-content);
    align-items: flex-end;
}

.logo_connection img {
    width: 1.2vmax;
    height: 1.2vmax;
    align-self: center;
}

.logo_connection p {
    align-self: center;
}

.chanButton p, .button_disabled p{
    text-align: left;
}

.btn_select {
    display: flex;
    justify-content: center;
}

.btn_select input, .btn_select button {
    padding: 0.5vmax;
    text-align: center;
    margin: 0.5vmax;
    border-radius: 0.5vmax 0.5vmax 0.5vmax 0.5vmax;
}

.btn_select input:hover, .btn_select button:hover {
    color: #fff12c;
    cursor: pointer;    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    border-color: #fff12c;
}

.global {
    display: grid;
    grid-template-columns: minmax(min-content, max-content) minmax(min-content, auto); 
    grid-gap: 1px;
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
    max-width: 100vw;
    height: auto;
    min-height: 75vh;
    margin-top: 1vh;
    border-radius: 7px 7px 7px 7px;
    background-color: #fff12c;
    border: 2px solid #8f8f8f;
    padding: 1px;
}

.list_user {
    display: block;
    height: 1vh;
    padding: 0.2vmax;
    text-align: center;
    box-sizing: border-box;
    height: 100%;
    overflow-x:hidden;
    overflow-y:visible;
}

.block_list_user {
    display: block;
    height: 1vh;
    box-sizing: border-box;
    min-height: 100%;
    width: 100%;
    background-color: #f6ecd2;
}

.list_user p {
    color: rgb(71, 71, 71);
    text-decoration: none;
}

.list_user p:hover {
    color: #fff12c;
    cursor: pointer;    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
}

.link:hover
{
    color: #fff12c;
    cursor: pointer;    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
}

.block_channel {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 0.1vmax;
    padding: 5px;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    background-color: rgb(153, 153, 153);
}

@font-face {
    font-family: old_game;
    src: url('assets/Old_Game.ttf');
    font-weight: normal;
}

.left {
    display: grid;
    grid-template-columns: minmax(max-content, auto);
    grid-template-rows: minmax(min-content, max-content) minmax(min-content, max-content) minmax(min-content, auto) minmax(min-content, max-content) minmax(min-content, max-content);
    height: 100%;
    border-radius: 7px 0px 0px 7px;
    background-color: #B8B8B8;
    border: 2px solid #a8a8a8;
    padding: 3px;
    box-sizing: border-box;
    width: 100%;
}

.right {
    display: grid;
    grid-template-rows: minmax(min-content, max-content) minmax(min-content, auto) minmax(min-content, max-content);
    box-sizing: border-box;
    height: 100%;
    background-color: #ffffffe1;
}

.logo {
    display: grid;
    grid-template-columns: auto auto;
    gap: 0.1vmax;
    box-sizing: border-box;
    width: 100%;
}

button {
    width: 100%;
}

.mod {
    display: inline;
    margin: 1px;
}

.channel {
    display: block;
    height: 1vh;
    padding: 0.2vmax;
    text-align: center;
    box-sizing: border-box;
    height: 100%;
    overflow-x:hidden;
}

.block_list_channel {
    display: block;
    height: 1vh;
    padding: 5px;
    box-sizing: border-box;
    min-height: 100%;
    width: 100%;
}

.banner img {
    width: max(20px, 2.5vw);
    height: max(20px, 2.5vw);
    margin: 2px;
}

.banner {
    display: grid;
    grid-template-columns: auto minmax(min-content, max-content);
    border-radius: 0px 7px 0px 0px;
    border-bottom: 2px solid #8f8f8f;
    border: 2px solid #8f8f8f;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    background-color: grey;
    color: #fff12c;
    text-shadow: 0px -2px 100px rgb(0, 0, 0);
    letter-spacing: 0.2vmax;
}

.sep {
    height: 1vmax;
    background-color: #dbdbdb;
    margin: 1vh;
}

.chatbox {
    position: relative;
    border-radius: none;
    background-color: #ffffffe1;
    overflow-x:hidden;
    overflow-y: scroll;
    height: 1vh;
    min-height: 100%;
    box-sizing: border-box;
    width: 100%;
}

.post {
    background-color: #ffffffe1;
    padding: 0.5vw;
}

.chat {
    position: relative;
    display: block;
    padding: 10px;
    margin-top: 1px;
    margin-bottom: 0px;
    height: 100%;
}

.chat p {
  white-space: normal;
}

.input {
    word-break: break-all;
    overflow-wrap: break-word;
    margin-left : 0.4vmax;
    display: block;
    border-radius: 7px 7px 7px 7px;
    box-sizing: border-box;
    padding: 1%;
    min-width: calc(100% - 0.8vw);
    max-width: calc(100% - 0.8vw);
}

.message {
    display: inline-block;
    width: 100%;
    padding: 5px;
    overflow-wrap: break-all;
    color: rgb(0, 0, 255);
    text-align: left;
}

.message p {
    display: inline;
    padding-left: 15px;
    word-break: break-all;
}

.span {
    display:inline-block;
    word-break: break-all;
    background-color: rgba(0, 0, 255, 0.15);
    padding: 5px;
    border-radius: 7px 7px 7px 7px;
    position: relative;
    width: auto;
    color: rgb(0, 0, 255);
}

.span_color {
    display:inline-block;
    word-break: break-all;
    position: relative;
    width: auto;
    background-color: rgba(153, 0, 255, 0.15);
    padding: 5px;
    border-radius: 7px 7px 7px 7px;
    color: rgb(153, 0, 255);
}

.time {
    position: relative;
    display: block;
    color: rgb(168, 76, 1);
    font-size: max(10px, 1vw);
}

.color {
    color: rgb(153, 0, 255);
}

.button, .button_disabled {
    overflow-wrap: normal;
    border-radius: 0.3vmax 0.3vmax 0.3vmax 0.3vmax;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    background-color: grey;
    color: white;
    padding: 0.2vmax;
}

.button_disabled {
    color: rgb(200, 200, 200);
}

.button:hover {
    color: #fff12c;
    cursor: pointer;    border-color: #fff12c;
}

.on {
    color: #fff12c;
}

.off{
    color: white;
}

.block_mod {
    display: block;
    position: absolute;
    border-radius: 7px 7px 7px 7px;
    background-color: #fff12c;
    border: 2px solid #8f8f8f;
    padding: 1px;
    height: 30vh;
    width: 30vmax;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 11;
    color: rgb(255, 255, 255);
}

.user_list_selected {
    background-color: rgb(163, 85, 13);
    border-radius: 0.5vmax;
}

.user_list_selected p {
    color: #fff12c;
    cursor: pointer;    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    border-color: #fff12c;
}

.test {
    color: #fff12c;
}


@media (orientation: portrait)
{
    .global {
        min-height: 85vh;
    }
}

@media (max-width: 700px) {

    .block_channel {
        display: block;
        height: 100%;
        width: 100%;
    }

    .logo {
        grid-template-columns: none;
        grid-template-rows: auto auto;
        width: 100%;
    }
}