<section v-if="log">
    <Menu class="menu" page="chat"/>
    <PopUp :blocked="blocked" :block="block" />
    <div class=global>
        <div class="left">
            <div class="logo">
                <button :class="[ (GET_ROOM)? 'on': 'off', 'button' ]" @click="changeRoom(true)">PUBLIC</button>
                <button :class="[ !(GET_ROOM)? 'on': 'off', 'button' ]" @click="changeRoom(false)">PRIVATE</button>
            </div>
            <hr>
            <div class="block_channel">
                <div>
                    <div class="channel" id="channel">
                        <ChanBut v-if="GET_ROOM" v-for="button in GET_LIST_CHAN_PUBLIC" :mod="button.mode == 5" :name="button.name"
                            :state="button.name === GET_CHAN" @click="changeChannel(button)">
                        </ChanBut>
                        <ChanBut v-else v-for="button in GET_LIST_CHAN_PRIVATE" :name="(button.mode? button.mode: button.name)"
                            :state="(button.mode? button.mode: button.name) === ((GET_CHAN_CURRENT).name? (GET_CHAN_CURRENT).name: (GET_CHAN_CURRENT).realname)"
                            @click="changeChannel(button)">
                        </ChanBut>
                    </div>
                </div>
                <div class="list_user">
                    <div v-for="item in GET_LIST_USER_CURRENT">
                        <div class="logo_connection">
                            <div>
                                <div v-if="(item.username == GET_USERNAME)">
                                    <p class="link" @click="active_pop_profil_mode(item)"
                                        style="color: rgb(160, 28, 28); text-align: left;">{{
                                        item.username }}</p>
                                </div>
                                <div v-else>
                                    <p class="link" @click="active_pop_profil_mode(item)" style="text-align: left;">{{
                                        item.username }}</p>
                                </div>
                            </div>
                            <div>
                                    <div v-if="item.mode == 4" class="mod">
                                        <img src="../../../assets/unmute3.png" alt="engrenage">
                                    </div>
                                    <div v-if="item.mode == 8 || item.mode == 12" class="mod">
                                        <img src="../../../assets/unban3.png" alt="engrenage">
                                    </div>
                                    <div v-if="item.mode == 2 || item.mode == 6 || item.mode == 10 || item.mode == 14" class="mod">
                                        <img src="../../../assets/unadmin3.png" alt="engrenage">
                                    </div>
                                    <div v-if="item.mode == 3" class="mod">
                                        <img src="../../../assets/uowner.png" alt="engrenage">
                                    </div>
                                <div v-if="item.state == 'login'" class="mod">
                                    <img src="../../../assets/circle_green.png" alt="login">
                                </div>
                                <div v-else-if="item.state == 'in game'" class="mod">
                                    <img src="../../../assets/circle_orange.png" alt="in game">
                                </div>
                                <div v-else class="mod">
                                    <img src="../../../assets/circle_grey.png" alt="logout">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="logo">
                <div v-if="GET_ROOM">
                    <button class="of button" @click="active_pop_add">ADD SALON</button>
                </div>
                <div v-else>
                    <button class="of button" @click="active_pop_add">INVITE USER</button>
                </div>
                <div>
                    <button class="of button" @click="setPopup('create')">CREATE SALON</button>
                </div>
            </div>
        </div>

        <div class="right">

            <div class="banner">
                <div>
                    <p v-if="(GET_CHAN_CURRENT).name">{{ (GET_CHAN_CURRENT).name }}</p>
                    <p v-else>{{ (GET_CHAN_CURRENT).realname }}</p>
                </div>
                <div>
                    <div class="mod" v-if="modeIsSet(GET_MY_MODE, my_mute) && !modeIsSet(GET_MY_MODE, my_ban)">
                        <img class="link" src="../../../assets/mute3.png" alt="BAN">
                    </div>
                    <div class="mod" v-if="my_block">
                        <img class="link" src="../../../assets/block3.png" alt="BAN">
                    </div>
                    <div class="mod" v-if="modeIsSet(GET_MY_MODE, my_ban)">
                        <img class="link" src="../../../assets/ban3.png" alt="BAN">
                    </div>
                    <div class="mod" v-if="modeIsSet(GET_MY_MODE, my_owner)">
                        <img class="link" @click="setPopup('pass')" src="../../../assets/owner.png" alt="BAN">
                        <img v-if="GET_ROOM" class="link" @click="setPopup('pass')" src="../../../assets/engrenage.png" alt="BAN">
                    </div>
                    <div class="mod" v-else-if="modeIsSet(GET_MY_MODE, my_admin)">
                        <img class="link" src="../../../assets/admin3.png" alt="BAN">
                    </div>

                    <div v-if="GET_CHAN_CURRENT.realname != 'General'" class="mod">
                        <img class="link" @click="quit_channel" src="../../../assets/close2.png" alt="leave">
                    </div>
                </div>
            </div>
            <div class="chatbox">
                <div class="chat" id="chat">
                    <div v-for="item in GET_LIST_MESSAGES">
                        <div v-if="item.colored" class="message color">
                            <p class="time">{{ item.time }}</p><br>
                            <span class="span_color link" @click="active_pop_profil_mode({username: item.username, state: ''})">{{ item.username }}
                                :</span>
                            <p>{{ item.message }}</p>
                        </div>
                        <div v-else class="message">
                            <p class="time">{{ item.time }}</p><br>
                            <span class="span link" @click="active_pop_profil_mode({username: item.username, state: ''})">{{ item.username }}
                                :</span>
                            <p>{{ item.message }}</p>
                        </div>
                    </div>
                </div>
                <div class="post">
                    <form @submit="postMSG" id='chat-form'>
                        <input v-model="inputMsg" id="msg" type="text" placeholder="Enter Message" required
                            autocomplete="off" class="input">
                    </form>
                </div>

            </div>
        </div>
    </div>
</section>