<section v-if="log">
    <Menu class="menu" page="chat"/>
    <div v-if="GET_POPUP">
        <PopUp/>
    </div>
    <div class=global>
        <div class="left">
            <div class="logo">
                <button :class="[ (GET_ROOM)? 'on': 'off', 'button' ]" @click="changeRoom(true)">PUBLIC</button>
                <button :class="[ !(GET_ROOM)? 'on': 'off', 'button' ]" @click="changeRoom(false)">PRIVATE</button>
            </div>
            <hr>
            <div class="block_channel">
                <div>
                    <div class="channel" id="channel">
                        <ChanBut v-if="GET_ROOM && GET_LIST_CHAN_PUBLIC" v-for="button in GET_LIST_CHAN_PUBLIC" :mod="button.mode == 5" :name="button.realname"
                            :state="button.realname == GET_CHAN.realname" @click="changeChannel(button)">
                        </ChanBut>
                        <ChanBut v-else-if="GET_LIST_CHAN_PRIVATE" v-for="button in GET_LIST_CHAN_PRIVATE" :name="(button.name? button.name: button.realname)"
                            :state="button.realname == GET_CHAN_CURRENT.realname"
                            @click="changeChannel(button)">
                        </ChanBut>
                    </div>
                </div>
                <div class="list_user">
                    <div v-if="(GET_ROOM || GET_LIST_CHAN_PRIVATE.length) && GET_LIST_USER_CURRENT" v-for="item in GET_LIST_USER_CURRENT">
                        <div class="logo_connection">
                            <div>
                                <div v-if="(item.username == GET_USER.username)">
                                    <p class="link" @click="active_pop_profil_mode(item)"
                                        style="color: rgb(160, 28, 28); text-align: left;">{{
                                        item.username }}</p>
                                </div>
                                <div v-else>
                                    <p class="link" @click="active_pop_profil_mode(item)" style="text-align: left;">{{
                                        item.username }}</p>
                                </div>
                            </div>
                            <div>
                                <div v-if="isBlock(item.username)" class="mod">
                                    <img src="../../../assets/unblock3.png" alt="blocked">
                                </div>
                                <div v-if="item.mode == 4" class="mod">
                                    <img src="../../../assets/unmute3.png" alt="engrenage">
                                </div>
                                <div v-if="item.mode == 8 || item.mode == 12" class="mod">
                                    <img src="../../../assets/unban3.png" alt="engrenage">
                                </div>
                                <div v-if="item.mode == 2 || item.mode == 6 || item.mode == 10 || item.mode == 14" class="mod">
                                    <img src="../../../assets/unadmin3.png" alt="engrenage">
                                </div>
                                <div v-if="item.mode == 3" class="mod">
                                    <img src="../../../assets/uowner.png" alt="engrenage">
                                </div>
                                <div v-if="item.state == 'login'" class="mod">
                                    <img src="../../../assets/circle_green.png" alt="login">
                                </div>
                                <div v-else-if="item.state == 'in match'" class="mod">
                                    <img src="../../../assets/circle_orange.png" alt="in match">
                                </div>
                                <div v-else class="mod">
                                    <img src="../../../assets/circle_grey.png" alt="logout">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="logo">
                <div v-if="GET_ROOM">
                    <button class="of button" @click="active_pop_add">ADD ROOM</button>
                </div>
                <div v-else-if="GET_LIST_CHAN_PRIVATE && GET_LIST_CHAN_PRIVATE.length && (GET_CHAN_CURRENT).mode == 2">
                    <button class="of button" @click="active_pop_add">INVITE USER</button>
                </div>
                <div v-else>
                    <button class="of button_disabled" @click="active_pop_add" disabled>INVITE USER</button>
                </div>
                <div>
                    <button class="of button" @click="active_pop_create">CREATE ROOM</button>
                </div>
            </div>
        </div>

        <div class="right">
            <div class="banner">
                <div>
                    <p v-if="(GET_CHAN_CURRENT).name">{{ (GET_CHAN_CURRENT).name }}</p>
                    <p v-else>{{ (GET_CHAN_CURRENT).realname }}</p>
                </div>
                <div>
                    <div class="mod" v-if="modeIsSet(GET_MY_MODE, 'mute') && !modeIsSet(GET_MY_MODE, 'ban')">
                        <img class="link" src="../../../assets/mute3.png" alt="BAN">
                    </div>
                    <div class="mod" v-if="modeIsSet(GET_MY_MODE, 'ban')">
                        <img class="link" src="../../../assets/ban3.png" alt="BAN">
                    </div>
                    <div class="mod" v-if="modeIsSet(GET_MY_MODE, 'owner')">
                        <img src="../../../assets/owner.png" alt="BAN">
                        <img v-if="GET_ROOM" class="link" @click="active_pop_pass" src="../../../assets/engrenage.png" alt="BAN">
                    </div>
                    <div class="mod" v-else-if="modeIsSet(GET_MY_MODE, 'admin')">
                        <img class="link" src="../../../assets/admin3.png" alt="BAN">
                    </div>

                    <div v-if="(GET_CHAN_CURRENT).mode != 8 && GET_CHAN_CURRENT.realname != 'General'" class="mod">
                        <img class="link" @click="quit_channel" src="../../../assets/close2.png" alt="leave">
                    </div>
                </div>
            </div>
            <div class="chatbox">
                <div class="chat" id="chat">
                    <div v-if="GET_LIST_MESSAGES" v-for="item in GET_LIST_MESSAGES">
                        <div v-if="item.colored" class="message color">
                            <p class="time">{{ item.time }}</p><br>
                            <span class="span_color link" @click="active_pop_profil_mode({username: item.username, state: ''})">{{ item.username }}
                                :</span>
                            <p>{{ item.message }}</p>
                        </div>
                        <div v-else class="message">
                            <p class="time">{{ item.time }}</p><br>
                            <span class="span link" @click="active_pop_profil_mode({username: item.username, state: ''})">{{ item.username }}
                                :</span>
                            <p>{{ item.message }}</p>
                        </div>
                    </div>
                </div>
                <div class="post">
                    <form @submit="postMSG" id='chat-form'>
                        <input v-model="inputMsg" id="msg" type="text" placeholder="Enter Message" required
                            autocomplete="off" class="input">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>