<section>
    <div id="menu">
        <Menu  page="game" />
    </div>
    <div v-if="GET_POPUP && GET_USER && GET_USER.state != 'in match'">
        <PopUp />
    </div>
    <div id="grid">
        <div id="a" class="block_container">
            <div class="content_container" @click="active_game">
                <p class="title">PLAY THE GAME</p>
            </div>
        </div>
        <div id="b" class="block_container">
            <div class="content_container">
                <div class="block_text">
                    <img src="@/assets/Rules.gif" alt="">
                </div>
            </div>
        </div>
        <div id="c" class="block_container">
            <div class="content_container">
                <div class="grid_leaderboard">
                    <div>
                        <h1>LEADERBOARD</h1>
                    </div>
                    <div class="content_leaderboard">
                        <div v-if="GET_LEADER_BOARD" v-for="item in GET_LEADER_BOARD" :key="item">
                            <div class="grid_score">
                                <div class="left">
                                    <p>{{ item.elo }}</p>
                                </div>
                                <div class="logo_connection right" @click="active_pop_profil(item)">
                                    <div>
                                        <div v-if="item.username == GET_USER.username">
                                            <p style="color: rgb(160, 28, 28); text-align: left">
                                                {{ item.username }}
                                            </p>
                                        </div>
                                        <div v-else>
                                            <p style="text-align: left">
                                                {{ item.username }}
                                            </p>
                                        </div>
                                    </div>
                                    <div>
                                        <div v-if="item.state == 'login'" >
                                            <img src="@/assets/circle_green.png" alt="login" />
                                        </div>
                                        <div v-else-if="item.state == 'in match'" >
                                            <img src="@/assets/circle_orange.png" alt="in match" />
                                        </div>
                                        <div v-else >
                                            <img src="@/assets/circle_grey.png" alt="logout" />
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>