p, label, input, span {
    white-space: nowrap
  }

.background {
    display: grid;
    position: absolute;
    grid-row: 1;
    width: 100%;
    height: 100%;
    z-index: 11;
    margin: auto;
    justify-items: center;
  }

.container_popup, .container_popup_alert {
    display: block;
    position: absolute;
    height: 100vh;
    width: 100vw;
    text-align: center;
    z-index: 10;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0);
    overflow: hidden;
}

.container_popup, .container_popup_alert{
    position: fixed;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.8);
    visibility: visible;
}

.container_popup_alert {
    z-index: 1000;
}

.block_popup, .block_popup_alert {
    border-radius: 7px 7px 7px 7px;
    background-color: #fff12c;
    border: 2px solid #8f8f8f;
    padding: 1px;
    width: max-content;
    height: max-content;
    margin: auto;
    text-align: center;
    color: rgb(255, 255, 255);
}

.block_popup h1, .block_popup_alert{
    border-radius: 7px 7px 0px 0px;
    text-align: center;
    background-color: grey;
    color: #fff12c;
    padding: 4px;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    border: 1px solid black;
}

.block_popup_alert {
    z-index: 500;
}

.content_popup {
    border-radius: 7px 7px 7px 7px;
    background-color: #B8B8B8;
    border: 2px solid #a8a8a8;
    text-align: left;
    overflow: auto;
}

.content_popup p, label{
    color: #794515;
    color: #05348d;
}

.content_popup form{
    text-indent: 10px;
    align-self: center;
    line-height: 40px;
    padding: 5px;
}

.tab_mdp {
    display: grid;
    grid-template-columns: minmax(min-content, auto) minmax(min-content, max-content); 
    grid-template-rows: auto;
    grid-gap: 10px;
}

.btn_select {
    display: flex;
    justify-content: center;
}

.btn_select input, .btn_select button {
    padding: 0.5vw;
    text-align: center;
    margin: 0.5vw;
    border-radius: 0.5vw 0.5vw 0.5vw 0.5vw;
}

.btn_select input:hover, .btn_select button:hover {
    color: #fff12c;
    cursor: grabbing;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    border-color: #fff12c;
}

.grid_popup_inv {
    display: grid;
    grid-template-rows: auto;
    gap: 1vw;
    justify-items: center;
    align-items: center;
}

.grid_popup_inv p {
    padding: 2vw;
    text-align: center;
}

.grid_popup_mode {
    display: grid;
    grid-template-rows: auto;
    /* gap: 1vw; */
    justify-items: center;
    align-items: center;
}

.grid_popup_mode p {
    padding: 2vw;
    text-align: center;
}

.grid_popup_mode img {
    /* width: 4vw; */
    height: 1.2vmax;
    width: 1.2vmax;
}

.mod, .mod div {
    display: inline;
    /* margin: 1px; */
}

.link:hover
{
    color: #fff12c;
    cursor: grabbing;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
}

.list_chan_popup {
    margin: 0.5vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    padding: 1vw;
    background-color: #000000;
    background-color: #f6ecd2;
    overflow: auto;
    color: darkblue;
    height: 15vw;
    border-radius: 7px 7px 7px 7px;
    border: 2px solid #8f8f8f;
}

.list_chan_popup p {
    margin: 0.2vw;
    padding: 0.4vw;
}

.list_chan_popup img {
    margin: 0.2vw;
    padding: 0.4vw;
    width: 2vw;
    height: auto;
}

.user_list_selected {
    background-color: rgb(163, 85, 13);
    border-radius: 0.5vw;
}

.user_list_selected p {
    color: #fff12c;
    cursor: grabbing;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    border-color: #fff12c;
}

.selected img {
    border-radius: 7px 7px 7px 7px;
    border: 2px solid #fff12c;
}

.logo_connection {
    display: grid;
    grid-template-columns: minmax(min-content, auto) minmax(min-content, max-content);
    align-items: center;
}

.logo_connection img {
    width: 1.2vmax;
    height: 1.2vmax;
}

.inv {
    z-index: 1000;
}