html,
body {
    margin: 0 auto;
    padding: 0;
    min-width: 1200px;
    width: 100vw;
    min-height: 800px;
    height: 100vh;
    background-color: #DCDCDC;
}

@font-face {
    font-family: old_game;
    src: url('assets/Old_Game.ttf');
    font-weight: normal;
}

.left {
    float: left;
    width: 200px;
    height: 100%;
}

.right {
    margin-left: 200px;
    height: 100%;
    border-left: solid #383E42;
}

.logo {
    height: 100px;
    background: center/100px no-repeat url(assets/42.png);
}

.channel {
    text-align: center;
}

.banner {
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-size: 60px;
    color: white;
    background-color: #383E42;
}

.chatbox {
    height: calc(100% - 110px);
}

.chat {
    margin: 10px;
    margin-bottom: 0px;
    height: calc(100% - 55px);
    overflow: auto;
    background-color: #B8B8B8;
}

.input {
    margin: 10px;
    width: calc(100% - 28px);
    font-family: old_game;
    font-size: 25px;
}
.message {
	padding: 10px;
    padding-bottom: 0px;
    padding-top: 5px;
	border-radius: 5px;
	overflow-wrap: break-word;
}

.message .meta {
	font-size: 15px;
	font-weight: bold;
	opacity: 0.7;
}

.message .meta span {
	color: #777;
}
