p,
span,
h1 {
  cursor: default;
}

.block_container h1 {
  border-radius: 0.5vmax 0.5vmax 0px 0px;
  text-align: center;
  background-color: grey;
  color: #fff12c;
  padding: 4px;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: rgb(0, 0, 0);
  border: 1px solid black;
  display: block;
}

.left {
  background-color: rgb(237, 223, 244);
}

.right {
  text-align: center;
}

#PongBorder {
  height: 70%;
  margin-left: 3vw;
  margin-right: 3vw;
  margin-bottom: 5vh;
  margin-top: 2vh;
  border-radius: 7px 7px 7px 7px;
  background-color: black;
  border: 2px solid #8f8f8f;
  padding: 1px;
  display: none;

  border-radius: 0.5vmax 0.5vmax 0.5vmax 0.5vmax;
  background-color: #fff12c;
  border: 2px solid #8f8f8f;
}

p {
  text-align: justify;
  padding: 1vmax;
}

h2 {
  text-align: center;
}

span {
  text-align: center;
  padding: 1vmax;
}

#a {
  grid-area: a;
}

#a p {
  text-align: center;
}

#a p,
#c p {
  color: darkblue;
}

#b .content_container {
  grid-area: b;
  background-color: rgb(36, 36, 36);
  background-color: rgb(0, 0, 0);
  color: yellow;
}

.block_text {
  display: block;
  position: relative;
  align-self: center;
  box-sizing: border-box;
  top: 50%;
  transform: translateY(-50%);
}

#c {
  grid-area: c;
}

#grid {
  display: grid;
  grid-template-rows: minmax(min-content, 0) minmax(400px, auto);
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
    "a c"
    "b c";
  width: 90vw;
  height: 40vmax;
  min-height: 75vh;
  margin: auto;
  margin-top: 1vh;
  gap: 0.2vmax;
}

.block_container {
  display: block;
  border-radius: 0.5vmax 0.5vmax 0.5vmax 0.5vmax;
  background-color: #fff12c;
  border: 2px solid #8f8f8f;
  padding: 1px;
  text-align: center;
  color: rgb(255, 255, 255);
}

.content_container {
  border-radius: 0.5vmax 0.5vmax 0.5vmax 0.5vmax;
  background-color: #b8b8b8;
  border: 2px solid #a8a8a8;
  box-sizing: border-box;
  height: 100%;
  text-align: left;
}

.grid_leaderboard {
  display: grid;
  grid-template-rows: minmax(min-content, max-content) auto;
  border-radius: 0.5vmax 0.5vmax 0.5vmax 0.5vmax;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  background-color: #f6ecd2;
  align-items: flex-start;
}

.logo_connection {
  display: grid;
  position: relative;
  grid-template-columns:
    minmax(min-content, max-content) minmax(min-content, max-content)
    minmax(min-content, max-content);
  justify-content: end;
  /* background-color:rgb(192, 151, 118); */
  /* background-color: rgb(237, 223, 244); */
  background-color: rgb(197, 253, 253);
  align-items: center;
}

.logo_connection img {
  height: 1.2vmax;
  width: 1.2vmax;
}

#a .content_container:hover,
#a .content_container p:hover {
  cursor: pointer;
  background-color: darkblue;
  color: #fff12c;
  border-radius: 0.5vmax 0.5vmax 0.5vmax 0.5vmax;
}

.link {
  color: darkblue;
}

.link:hover {
  color: #fff12c;
  cursor: grabbing;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: rgb(0, 0, 0);
}

.grid_score {
  display: grid;
  grid-template-columns: 4fr 10fr;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.content_leaderboard {
  box-sizing: border-box;
  height: 1vh;
  min-height: 100%;
  overflow: auto;
  border-radius: 0vmax 0vmax 0.5vmax 0.5vmax;
}

.block_text, .block_text img {
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 700px), screen and (orientation: portrait) {
  #grid {
    display: grid;
    grid-template-rows: minmax(min-content, max-content) minmax(min-content, max-content) minmax(350px, auto);
    grid-template-columns: minmax(min-content, max-content);
    grid-template-areas:
      "a"
      "b"
      "c";
    width: 90vw;
    min-height: 85vh;
    margin: auto;
    margin-top: 1vh;
    gap: 0.2vmax;
  }
}