p,
span,
h1 {
  cursor: default;
}

.block_container h1 {
  border-radius: 0.5vmax 0.5vmax 0px 0px;
  text-align: center;
  background-color: grey;
  color: #fff12c;
  padding: 4px;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: rgb(0, 0, 0);
  font-family: futura;
  font-weight: 900;
  font-size: 1.5vmax;
  border: 1px solid black;
  display: block;
}

.left {
  background-color: rgb(237, 223, 244);
}

.right {
  text-align: center;
}

#PongBorder {
  height: 70%;
  margin-left: 3vw;
  margin-right: 3vw;
  margin-bottom: 5vh;
  margin-top: 2vh;
  border-radius: 7px 7px 7px 7px;
  background-color: black;
  border: 2px solid #8f8f8f;
  padding: 1px;
  display: none;

  border-radius: 0.5vmax 0.5vmax 0.5vmax 0.5vmax;
  background-color: #fff12c;
  border: 2px solid #8f8f8f;
}

p {
  text-align: justify;
  font-family: futura;
  font-weight: 900;
  font-size: 1.5vmax;
  padding: 1vmax;
}

h2 {
  text-align: center;
  font-family: futura;
  font-weight: 900;
  font-size: 1.5vmax;
}

span {
  text-align: center;
  font-family: futura;
  font-weight: 900;
  font-size: 1.5vmax;
  padding: 1vmax;
}

#a {
  grid-area: a;
}

#a p {
  text-align: center;
}

#a p,
#c p {
  color: darkblue;
}

#b .content_container {
  grid-area: b;
  background-color: rgb(36, 36, 36);
  background-color: rgb(0, 0, 0);
  color: yellow;
}

.block_text {
  display: block;
  position: relative;
  align-self: center;
  box-sizing: border-box;
  top: 50%;
  transform: translateY(-50%);
  font-weight: normal;
}

#c {
  grid-area: c;
}

#grid {
  display: grid;
  grid-template-rows: minmax(min-content, 0) minmax(min-content, auto);
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
    "a c"
    "b c";
  width: 90vw;
  height: 40vmax;
  min-height: 75vh;
  margin: auto;
  margin-top: 1vh;
  gap: 0.2vmax;
}

.block_container {
  display: block;
  border-radius: 0.5vmax 0.5vmax 0.5vmax 0.5vmax;
  background-color: #fff12c;
  border: 2px solid #8f8f8f;
  padding: 1px;
  text-align: center;
  color: rgb(255, 255, 255);
}

.content_container {
  border-radius: 0.5vmax 0.5vmax 0.5vmax 0.5vmax;
  background-color: #b8b8b8;
  border: 2px solid #a8a8a8;
  box-sizing: border-box;
  height: 100%;
  text-align: left;
  font-weight: 900;
  font-size: 1.2vmax;
}

.block_leaderboard {
  border-radius: 0.5vmax 0.5vmax 0.5vmax 0.5vmax;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  background-color: #f6ecd2;
}

.logo_connection {
  display: grid;
  position: relative;
  grid-template-columns:
    minmax(min-content, max-content) minmax(min-content, max-content)
    minmax(min-content, max-content);
  justify-content: end;
  width: 100%;
}

.logo_connection img {
  width: 1.5vmax;
  height: 1.5vmax;
  transform: translateY(0.25vmax);
  margin: 0.2vmax;
  padding: 0.4vmax;
  width: auto;
  font-size: 1.5vmax;
  border-radius: 0px 0px 0.5vmax 0.5vmax;
}

#a .content_container:hover,
#a .content_container p:hover {
  cursor: pointer;
  background-color: darkblue;
  color: #fff12c;
  border-radius: 0.5vmax 0.5vmax 0.5vmax 0.5vmax;
}

.link {
  color: darkblue;
}

.link:hover {
  color: #fff12c;
  cursor: grabbing;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: rgb(0, 0, 0);
  font-family: futura;
}

.grid_leaderboard {
  display: grid;
  grid-template-columns: 4fr 10fr;
  width: 100%;
  justify-content: space-between;
}

.content_leaderboard {
  overflow: auto;
  min-height: 69vh;
  /* height: 38vmax; */
  border-radius: 0vmax 0vmax 0.5vmax 0.5vmax;
}

.block_text, .block_text img {
  max-width: 100%;
  height: auto;
}